@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-image: url('https://media.istockphoto.com/videos/low-poly-dark-background-video-id850926774?s=640x640');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: cursive; 
  color: white;
}

